@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com -->
    <title>Welcome to Quizlet!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
        }
        .map-container-section {
            overflow: hidden;
            /* padding-bottom:56.25%; */
            position: relative;
            height: 0;
        }

            .map-container-section iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        h2 {
            font-size: 24px;
            text-transform: uppercase;
            color: #303030;
            font-weight: 600;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 19px;
            line-height: 1.375em;
            color: #303030;
            font-weight: 400;
            margin-bottom: 30px;
        }

        .jumbotron {
            background: url('https://quizlet-prod.cdn.prismic.io/quizlet-prod/fd9b8aeb-8e4c-4d96-a51d-9463339217bc_Hero+background+LO+home+final.svg');
            color: #fff;
            padding: 100px 25px;
            font-family: Montserrat, sans-serif;
        }

        .container-fluid {
            padding: 60px 50px;
        }

        .img-thumbnail {
            margin-top: 10%;
        }

        .social-link {
            width: 30px;
            height: 30px;
            border: 1px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            border-radius: 50%;
            transition: all 0.3s;
            font-size: 0.9rem;
        }

            .facebook {
                background-color: #4257b2;
                color: white;
            }
        .twitter {
            background-color: #6892ea;
            color: white;
        }
        .insta {
            background-color: #ff725b;
            color: white;
        }

        .linkedin {
            background-color: #23b26d;
            color: white;
        }


            .social-link:focus {
                background: #ddd;
                text-decoration: none;
                color: #555;
            }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .logo-small {
            color: #f4511e;
            font-size: 50px;
        }

        .logo {
            color: #f4511e;
            font-size: 200px;
        }

        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }

            .thumbnail img {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }

        .carousel-control.right, .carousel-control.left {
            background-image: none;
            color: #f4511e;
        }

        .carousel-indicators li {
            border-color: #f4511e;
        }

            .carousel-indicators li.active {
                background-color: #f4511e;
            }

        .item h4 {
            font-size: 19px;
            line-height: 1.375em;
            font-weight: 400;
            font-style: italic;
            margin: 70px 0;
        }

        .item span {
            font-style: normal;
        }


            .panel:hover {
                box-shadow: 5px 0px 40px rgba(0,0,0, .2);
            }

        .panel-footer .btn:hover {
            border: 1px solid #f4511e;
            background-color: #646f90 !important;
            color: #f4511e;
        }

        .panel-heading {
            color: #fff !important;
            background-color: #646f90 !important;
            padding: 25px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }


            .panel-footer h3 {
                font-size: 32px;
            }

            .panel-footer h4 {
                color: #aaa;
                font-size: 14px;
            }

            .panel-footer .btn {
                margin: 15px 0;
                background-color: #f4511e;
                color: #fff;
            }

        .navbar {
            margin-bottom: 0;
            background-color: #5e6896;
            z-index: 9999;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

            .navbar li a, .navbar .navbar-brand {
                color: #fff !important;
            }

        .navbar-brand {
            height: 80px;
            align-items: center;
            font-size: 27px;
        }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: #f4511e !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }

        footer .glyphicon {
            font-size: 20px;
            margin-bottom: 20px;
            color: #f4511e;
        }

        .slideanim {
            visibility: hidden;
        }

        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
        }

        @@keyframes slide {
            0% {
                opacity: 0;
                transform: translateY(70%);
            }

            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        @@-webkit-keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        @@media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }

            .btn-lg {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        @@media screen and (max-width: 480px) {
            .logo {
                font-size: 150px;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            background-color: #4257b2;
            padding: 10px;
        }

        .grid-item {
            background-color: white;
            margin: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Privacy" style="display:flex"><img style="width:40%;height:100%" src="~/img/science.png" />QuizletClone</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" style="margin-top:1%">
                    <li><a href="#about">ABOUT US</a></li>
                    <li><a href="#services">SERVICES</a></li>
                    <li><a href="#portfolio">FEEDBACK</a></li>
                    <li><a href="#pricing">PRICING</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <div style="display:flex;flex-direction:column;align-items:center;border-radius:3%;padding:250px 25px;background: url('https://images.prismic.io/quizlet-prod/eca927aa-4f86-4e40-9565-8dd2fefb2cde_hero+image+shaded.png?auto=compress,format')">
            <h1>Become the best version of yourself</h1>
            <p>Master every subject, step by step</p>
            <!--<img src="" style="z-index:-1;position:absolute" />-->
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <form>
                    <div class="input-group" style="width:900px">
                        @Html.TextBox("searching", "", new { @style = "height:40px", @size = "10" ,@class = "form-control", @placeholder = "search for user, set of Quizz,.." })
                        <div class="input-group-btn">
                            <button type="submit" style="height:40px" class="btn btn-info">Search</button>
                        </div>
                    </div>
                </form>
            }
                <a asp-controller="Home" asp-action="Login" type="button" style="margin-top:5%;font-size:2em" class="btn btn-success">Join us!</a>
            </div>

    </div>

    <!-- Container (About Section) -->

    <div id="about" class="container-fluid">
        <div class="row">
            <div class="bg-white py-5">
                <div class="container py-5">
                    <div class="row d-flex align-items-center mb-5" style="display:flex;align-items:center;justify-content:space-between">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                            <h2 class="font-weight-light">
                                You just need to brainstorm, we take care of everything else.
                            </h2>
                            <p class="font-italic text-muted mb-4">
                                From flashcards to help you learn English, to games that make learning history easy, you can use a variety of tools to conquer any challenge.
                            </p><a  asp-controller="Home" asp-action="Login" type="button" class="btn btn-info px-3 py-3">Join Now!</a>
                        </div>
                        <div class="col-lg-5  mx-auto order-1 order-lg-2"><img style="width:100%" src="https://images.prismic.io/quizlet-prod/d4052d90-f71e-466a-86f5-080cf02de2da_20210814_QZ_Home_Flashcards.png?auto=compress,format&rect=0,2,3072,2395&w=1026&h=800" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    </div>
                    <div class="row align-items-center" style="display:flex;align-items:center;justify-content:space-between">
                        <div class="col-lg-5 mx-auto order-2 order-lg-1"><img style="width:100%" src="https://images.prismic.io/quizlet-prod/3a92729c-f212-4ac0-8dad-b2c875c57358_20210814_QZ_Home_StudyJam.png?auto=compress,format&rect=0,2,3072,2395&w=1026&h=800" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                        <div class="col-lg-6">
                            <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                            <h2 class="font-weight-light">
                                Your next success is very near.
                            </h2>
                            <p class="font-italic text-muted mb-4">Every new knowledge you learn is an achievement. Quizlet breaks down topics and subjects to help you improve day by day.</p><a  asp-controller="Home" asp-action="Login" type="button" class="btn btn-warning px-3 py-3">Join Now!</a>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center mb-5" style="display:flex;align-items:center;justify-content:space-between">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                            <h2 class="font-weight-light">
                                Do not give up. Let's make an effort together.
                            </h2>
                            <p class="font-italic text-muted mb-4">
                                When even the smallest lesson brings a sense of victory, you will be more motivated to keep going.
                            </p><a  asp-controller="Home" asp-action="Login" type="button" class="btn btn-success px-3 py-3">Join Now!</a>
                        </div>
                        <div class="col-lg-5  mx-auto order-1 order-lg-2"><img style="width:100%" src="https://images.prismic.io/quizlet-prod/6b2ff704-ccbf-441e-9b49-dbd3b7d7d530_20210814_QZ_Home_MobileApp.png?auto=compress,format&rect=0,2,3072,2395&w=1026&h=800" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #3b4c9b">
        <div style="display:flex;align-items:center;flex-direction:column;margin-bottom:3%">
            <h2 style="text-align:center;color:white">Are you ready to improve your score?</h2>
            <a  asp-controller="Home" asp-action="Login" type="button" class="btn btn-lg btn-warning px-3 py-3">Start Learning Now!</a>
        </div>

        <div class="row d-flex bg-info align-items-center mb-5" style="display:flex;align-items:center;justify-content:space-between">
            <div class="col-lg-6 order-2 order-lg-1">
                <h3>Teacher</h3>
                <h2 class="font-weight-light">
                    Energize your students
                </h2>
                <p class="font-italic text-muted mb-4">
                    Help them confidently learn any content, no matter what their goals are. Using Quizlet's free sets, learning modes and classroom games, you can easily motivate your students.
                </p><a  asp-controller="Home" asp-action="Login" type="button" class="btn btn-success px-3 py-3">
                    Bring Quizlet to your class now!
                </a>
            </div>
            <div class="col-lg-5  mx-auto order-1 order-lg-2"><img style="width:100%" src="https://images.prismic.io/quizlet-prod/33696601-f5ff-43e0-9144-f9e30eed4514_Teacher+call+out.png?auto=compress,format" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
    </div>

    <!-- Container (Services Section) -->
    <div id="services" class="container-fluid text-center" style="background-color: #282e3e">
        <h2 style="color:white;font-weight:bold">Quizlet Plus <img src="~/img/science.png" style="width:50px;height:50%" /></h2>
        <h4 style="color:white">
            Learning methods to help you achieve your goals <i class="fas fa-user-astronaut"></i>!
        </h4>
        <a href="#pricing" class="btn btn-info" style="padding:10px 25px;font-size:2rem">View subscriptions</a>
        <br>
        <div class="row align-items-center" style="margin-left:-80px;display:flex;align-items:center;justify-content:space-between">
            <div class="col-lg-6 mx-auto order-2 order-lg-1"><img style="width:100%" src="https://assets.quizlet.com/a/j/dist/app/i/upgrade/creation-web-nonenglish-dark@2x.f78c84845c98e66.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light" style="color:white">
                    Customize your learning
                </h2>
                <p class="font-italic text-muted mb-4" style="color:white">
                    Create sets to suit your needs and style with custom visuals, sounds, accents, and more
                </p>
                <ul style="list-style:none">
                    <li style="display:flex;margin-bottom:5%">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M45.49 45.895V16.737a4.178 4.178 0 0 0-4.166-4.165H12.166A4.178 4.178 0 0 0 8 16.737v29.159a4.178 4.178 0 0 0 4.165 4.165h29.159a4.178 4.178 0 0 0 4.165-4.166z" fill="#4257B2"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.63 37.062l-6.614-7.968c-.661-.787-1.858-.756-2.456.063l-7.842 10.078c-.819 1.039-.094 2.55 1.228 2.55h37.76c1.29 0 2.046-1.48 1.259-2.519L46.911 24.528a1.58 1.58 0 0 0-2.52-.032L34.63 37.062z" fill="#3CCFCF"></path><circle cx="18.3097" cy="22.8813" fill="#fff" r="4.68614"></circle></svg>
                        <div style="display:flex;flex-direction:column;align-items:flex-start">
                            <p style="color:white;font-size:1.5em">
                                Look and learn
                            </p>
                            <p style="color:white; margin-top:-15px">Add visual cues to help with memorization</p>
                        </div>
                    </li>
                    <li style="display: flex; margin-bottom: 5%">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.5 20.465a2.56 2.56 0 0 1 2.56-2.56h8.718a2.56 2.56 0 0 1 1.847.789l5.358 5.589c.457.476.712 1.11.712 1.77V38.38a2.56 2.56 0 0 1-2.56 2.56H28.06a2.56 2.56 0 0 1-2.559-2.56V20.465z" fill="#3CCFCF"></path><path d="M20.572 24.6a2.56 2.56 0 0 1 2.559-2.559h8.719a2.56 2.56 0 0 1 1.847.789l5.357 5.588a2.56 2.56 0 0 1 .712 1.771v12.327a2.56 2.56 0 0 1-2.559 2.559H23.131a2.56 2.56 0 0 1-2.56-2.56V24.602z" fill="#4257B2"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.429 11.508c0-1.306 1.023-2.365 2.285-2.365h8.312c1.262 0 2.286 1.059 2.286 2.365 0 1.306-1.024 2.364-2.286 2.364H16v6.95c0 1.306-1.023 2.365-2.286 2.365-1.262 0-2.285-1.059-2.285-2.364v-9.315zm28.26 0c0-1.306 1.023-2.365 2.285-2.365h8.312c1.262 0 2.286 1.059 2.286 2.365v9.315c0 1.305-1.024 2.364-2.286 2.364-1.263 0-2.286-1.059-2.286-2.364v-6.95h-6.026c-1.262 0-2.285-1.06-2.285-2.365zM13.713 40.814c1.263 0 2.286 1.058 2.286 2.364v6.95h6.026c1.262 0 2.286 1.059 2.286 2.365 0 1.306-1.024 2.364-2.286 2.364h-8.312c-1.262 0-2.285-1.058-2.285-2.364v-9.315c0-1.306 1.023-2.364 2.285-2.364zm36.572 0c1.262 0 2.286 1.058 2.286 2.364v9.315c0 1.306-1.024 2.364-2.286 2.364h-8.312c-1.262 0-2.285-1.058-2.285-2.364 0-1.306 1.023-2.365 2.285-2.365H48v-6.95c0-1.306 1.023-2.364 2.286-2.364z" fill="#4257B2"></path></svg>
                        <div style="display:flex;flex-direction:column;align-items:flex-start">
                            <p style="color:white;font-size:1.5em">
                                Copy your notes
                            </p>
                            <p style="color:white; margin-top:-15px">
                                Create an instant set from your handwritten notes
                            </p>
                        </div>
                    </li>
                    <li style="display:flex">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.178 26.325a6.306 6.306 0 0 1 6.305-6.305h22.07a6.305 6.305 0 0 1 6.305 6.305v17.34a6.305 6.305 0 0 1-6.306 6.306H26.483a6.306 6.306 0 0 1-6.305-6.306v-17.34z" fill="#4257B2"></path><circle r="3.94089" transform="matrix(-1 0 0 1 30.424 39.724)" fill="#fff"></circle><circle transform="matrix(-1 0 0 1 39.882 42.877)" fill="#fff" r="2.36453"></circle><circle transform="matrix(-1 0 0 1 43.823 31.054)" fill="#fff" r="6.30542"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M29.515 13.715H13.993c-2.678 0-4.85 1.764-4.85 3.94v8.22c0 2.177 2.172 3.941 4.85 3.941H28.24l3.63 2.603c1.043.748 2.495.002 2.495-1.281V17.655c0-2.177-2.171-3.94-4.85-3.94z" fill="#3CCFCF"></path></svg><div style="display:flex;flex-direction:column;align-items:flex-start">
                            <p style="color:white;font-size:1.5em">
                                More diagrams
                            </p>
                            <p style="color:white; margin-top:-15px">
                                Challenge yourself through the points on the map
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <h2 style="color:white;font-weight:bold">
            Learn better and faster
        </h2>
        <h4 style="color:white">
            Saving time with a personalized learning path for you!
        </h4>
        <br>
        <div class="row align-items-center" style="margin-left:-80px;display:flex;flex-direction:column;align-items:center;justify-content:space-between">
            <img style="width:50%" src="https://assets.quizlet.com/a/j/dist/app/i/upgrade/la-web-dark@2x.ed26fec4f66b1c0.png" />
            <div style="display:flex">
                <div style="width:300px">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M58.666 44.44c0 7.852-6.271 14.227-14.022 14.227-7.74 0-14.012-6.376-14.012-14.227 0-6.062 3.746-11.243 9.017-13.284.403-.156.682-.536.682-.968v-10.27a1 1 0 0 1 1-1h6.626a1 1 0 0 1 1 1v10.27c0 .432.28.812.683.968 5.28 2.04 9.026 7.212 9.026 13.284z" fill="#3CCFCF"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M40.096 57.89a4.408 4.408 0 0 1-2.52.777H9.906c-3.322 0-5.532-3.48-4.159-6.546l11.84-26.594 1.28-2.884a8.047 8.047 0 0 0 .692-3.273V6.334a1 1 0 0 1 1-1h6.363a1 1 0 0 1 1 1V19.37c0 1.14.24 2.254.693 3.273l1.279 2.884 4.24 9.516 7.6 17.078a4.654 4.654 0 0 1-1.638 5.77z" fill="#4257B2"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M29.893 25.527H17.588l1.278-2.884a8.033 8.033 0 0 0 .694-3.273V6.333a1 1 0 0 1 1-1h6.362a1 1 0 0 1 1 1V19.37c0 1.14.24 2.254.694 3.273l1.277 2.884z" fill="#3CCFCF"></path></svg>
                    <p style="color:white;font-size:1.5em">
                        Based on the science of learning
                    </p>
                    <p style="color:white; margin-top:-15px">
                        Advanced question types to help with memorization
                    </p>
                </div>
                <div style="width:210px">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.429 36.952a4.571 4.571 0 0 1 9.143 0V47.62a4.571 4.571 0 0 1-9.143 0V36.952z" fill="#3CCFCF"></path><path d="M13.714 27.81a4.571 4.571 0 0 1 9.143 0v19.81a4.571 4.571 0 0 1-9.143 0V27.81zM41.143 17.143a4.571 4.571 0 1 1 9.143 0v30.476a4.571 4.571 0 0 1-9.143 0V17.143z" fill="#4257B2"></path></svg>
                    <p style="color:white;font-size:1.5em">
                        Adapt to the progress
                    </p>
                    <p style="color:white; margin-top:-15px">
                        Adjust the difficulty as you gradually master the term
                    </p>
                </div>
                <div style="width:250px">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.429 23.668c0-3.604 2.697-6.525 6.023-6.525h15.382c3.326 0 6.023 2.921 6.023 6.525v16.664c0 3.604-2.697 6.525-6.023 6.525H33.452c-3.326 0-6.023-2.921-6.023-6.525V23.668z" fill="#3CCFCF"></path><path d="M9.143 18.453c0-3.248 2.706-5.882 6.044-5.882h26.769c3.338 0 6.044 2.633 6.044 5.882v26.044c0 3.248-2.706 5.881-6.044 5.881H15.187c-3.338 0-6.044-2.633-6.044-5.88V18.452z" fill="#4257B2"></path><path d="M23.952 35.783l-4.245-4.426a2.445 2.445 0 0 0-3.549 0 2.593 2.593 0 0 0 0 3.573l6.026 6.284a2.445 2.445 0 0 0 3.549 0l15.252-15.905a2.593 2.593 0 0 0 0-3.573 2.445 2.445 0 0 0-3.548 0L23.952 35.783z" fill="#fff"></path></svg>
                    <p style="color:white;font-size:1.5em">
                        Get feedback while learning
                    </p>
                    <p style="color:white; margin-top:-15px">
                        Smart scoring for essay questions
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Container (Pricing Section) -->
    <div id="pricing" class="container-fluid" style="background-color: #282e3e ">
        <div class="text-center">
            <h2 style="color:white">No Internet, No Problem</h2>
            <div style="display:flex;justify-content:center">
                <div style="margin-right:5%">
                    <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.643 35.358a3.214 3.214 0 0 1 3.214-3.215h12.857a3.214 3.214 0 0 1 3.215 3.215v12.857a3.214 3.214 0 0 1-3.215 3.214H35.857a3.214 3.214 0 0 1-3.214-3.214V35.358zM17.643 10.357c0-2.17 1.352-3.928 3.02-3.928h27.175c1.667 0 3.02 1.759 3.02 3.928v3.93c0 2.169-1.353 3.928-3.02 3.928H20.662c-1.667 0-3.02-1.76-3.02-3.929v-3.928zM8 36.429a3.214 3.214 0 0 1 3.214-3.214h6.429a3.214 3.214 0 0 1 3.214 3.214v6.428a3.214 3.214 0 0 1-3.214 3.215h-6.429A3.214 3.214 0 0 1 8 42.857V36.43z" fill="#3CCFCF"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M46.572 29.465c0 9.171-7.436 16.607-16.608 16.607s-16.607-7.436-16.607-16.607c0-9.172 7.435-16.608 16.607-16.608s16.608 7.436 16.608 16.608zm-6.643 0c0 5.503-4.462 9.964-9.965 9.964a9.918 9.918 0 0 1-4.963-1.323l13.605-13.605a9.92 9.92 0 0 1 1.323 4.964zm-18.775 4.66l13.47-13.47a9.921 9.921 0 0 0-4.66-1.155C24.461 19.5 20 23.961 20 29.465a9.92 9.92 0 0 0 1.154 4.66z" fill="#4257B2"></path></svg>
                    <p style="color:white;font-size:1.5em">
                        Good bye advertising!
                    </p>
                    <p style="color:white; margin-top:-15px">
                        More focus without ads
                    </p>
                </div>
                <div>
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.05 19.98c.838-7.014 7.16-12.077 14.208-11.336 5.466.574 9.778 4.47 11.141 9.472l1.804.19a8.068 8.068 0 0 1-1.686 16.047L32.492 33.3l-.052-.006-18.66-1.96a5.816 5.816 0 1 1 1.216-11.57l2.054.216z" fill="#4257B2"></path><path d="M29.904 25.523a2.5 2.5 0 0 0-2.747 2.224L25.7 41.608l-2.694-3.448a2.548 2.548 0 0 0-3.673-.386 2.773 2.773 0 0 0-.4 3.803l5.728 7.331a3.838 3.838 0 0 0 2.676 1.476c.983.091 2.003-.2 2.833-.897l7.127-5.98a2.773 2.773 0 0 0 .4-3.803 2.549 2.549 0 0 0-3.673-.386l-3.352 2.813 1.456-13.861a2.5 2.5 0 0 0-2.224-2.747z" fill="#3CCFCF"></path></svg>
                    <p style="color:white;font-size:1.5em">
                        Download the course
                    </p>
                    <p style="color:white; margin-top:-15px">
                        Save the set for using offline
                    </p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-5" style="display:flex;align-items:center;justify-content:space-between">
            <div class="col-sm-4 col-xs-12  order-2 order-lg-1">
                <div class="panel-default text-center">
                    <div class="panel-heading" style="border: none; border-top-left-radius: 15px; border-top-right-radius: 15px">
                        <h4 style="color:white;font-weight:bold">QuizletPlus</h4>
                        <h2 style="color: #cedaf3">47,88 US$ / year</h2>
                        <h5 style="color: #d9dde8">Equivalent to 3.99$/month</h5>
                    </div>
                    <div class="panel-body" style="background-color: #646f90">
                        <p><strong>20</strong> Lorem</p>
                        <p><strong>15</strong> Ipsum</p>
                        <p><strong>5</strong> Dolor</p>
                        <p><strong>2</strong> Sit</p>
                        <p><strong>Endless</strong> Amet</p>
                    </div>
                    <div class="panel-footer" style="background-color: #646f90; border: none; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">
                        <h3>$19</h3>
                        <h4>per month</h4>
                        <button class="btn btn-lg">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5  mx-auto order-1 order-lg-2"><img style="width:700px" src="https://assets.quizlet.com/a/j/dist/app/i/upgrade/components/expert_explanations/background_xl_night.c6b1e55f9680d07.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>

    </div>

    <div id="portfolio" style=" padding: 20px 0 ">
        <h2 style="text-align:center">What our customers say</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4><img src="https://assets.quizlet.com/a/j/dist/app/i/prismic/quotes-open.76da8581ea3adc0.svg" />"This company is the best. I am so happy with the result!" <img src="https://assets.quizlet.com/a/j/dist/app/i/prismic/quotes-close.f05dbfc1b568217.svg" /><br><span>Michael Roe, Vice President, Comment Box</span></h4>
                </div>
                <div class="item">
                    <h4><img src="https://assets.quizlet.com/a/j/dist/app/i/prismic/quotes-open.76da8581ea3adc0.svg" />"One word... WOW!!"<img src="https://assets.quizlet.com/a/j/dist/app/i/prismic/quotes-close.f05dbfc1b568217.svg" /><br><span>John Doe, Salesman, Rep Inc</span></h4>
                </div>
                <div class="item">
                    <h4><img src="https://assets.quizlet.com/a/j/dist/app/i/prismic/quotes-open.76da8581ea3adc0.svg" />"Could I... BE any more happy with this company?"<img src="https://assets.quizlet.com/a/j/dist/app/i/prismic/quotes-close.f05dbfc1b568217.svg" /><br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Container (Portfolio Section) -->
    <div  class="container-fluid text-center">
        <h2>OUR TEAM</h2><br>
        <div class="grid-container">
            <div class="grid-item">
                <div class="bg-white rounded shadow-sm px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid img-thumbnail shadow-sm" style="border-radius:50%">
                    <h3 class="mb-0">Manuella Nevoresky</h3><p class=" text-uppercase text-muted" style="font-size:15px">CEO - Founder</p>
                    <ul class="social mb-0 list-inline ">
                        <li class="list-inline-item"><a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link insta"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link linkedin"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="border-radius:50%">
                    <h3 class="mb-0">Manuella Nevoresky</h3><p class=" text-uppercase text-muted" style="font-size:15px">CEO - Founder</p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link insta"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link linkedin"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="border-radius:50%">
                    <h3 class="mb-0">Manuella Nevoresky</h3><p class=" text-uppercase text-muted" style="font-size:15px">CEO - Founder</p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link insta"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link linkedin"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="grid-item">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="border-radius:50%">
                    <h3 class="mb-0">Manuella Nevoresky</h3><p class=" text-uppercase text-muted" style="font-size:15px">CEO - Founder</p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item "><a href="#" class="social-link facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link insta"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link linkedin"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <h2 style="text-align:center">Are you ready to improve your score?</h2>
        <a  asp-controller="Home" asp-action="Login" type="button" class="btn btn-lg btn-warning px-3 py-3">Start Learning Now!</a>
    </div>
    <!-- Image of location/map -->
    <section id="contact">
        <div id="map-container-demo-section" class="z-depth-1-half map-container-section mb-4" style="height: 500px">
            <iframe src="https://maps.google.com/maps?q=Manhatan&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0"></iframe>
        </div>
    </section>
    <!-- Container (Contact Section) -->
    <div class="container-fluid" style="background-color: #7685c7 ">
        <h1 class="text-center" style="color:white">CONTACT</h1>
        <div class="row">
            <div class="col-sm-5">
                <p style="color:white">Contact us and we'll get back to you within 24 hours.</p>
                <p style="color:white"><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
                <p style="color:white"><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p style="color:white"><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
            <div class="col-sm-7 ">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-warning pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>© 2021 Quizlet Inc</p>
    </footer>

    @section Scripts {
        <script>
            $(document).ready(function () {
                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function () {

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });

                $(window).scroll(function () {
                    $(".slideanim").each(function () {
                        var pos = $(this).offset().top;

                        var winTop = $(window).scrollTop();
                        if (pos < winTop + 600) {
                            $(this).addClass("slide");
                        }
                    });
                });
            })
        </script>
    }


</body>
</html>

