@{
    ViewData["Title"] = "Reset Password";
}
<style>
    .login-container {
        margin-top: 8%;
        border: 0px solid #CCD1D1;
        border-radius: 12px;
        box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
        max-width: 50%;
        background: #FFF;
        z-index: 1;
        position: relative;
    }

    img.triangleA {
        position: absolute;
        margin-left: -16px;
        width: 60px;
        border-radius: 12px 0px 0px 0px;
    }

    img.triangleB {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 360px;
        z-index: 0;
    }

    .welcome_auth {
        align-items: center;
        display: flex;
        justify-content: center;
        background: url('https://i.pinimg.com/736x/44/e7/9a/44e79a4fc1ae11b021629dcdfc68503d.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }


    .auth_welcome {
        font-weight: 100;
        font-size: 1.5em;
        background-size: 100%;
        -webkit-text-fill-color: transparent;
    }

    a.auth_branding_in img {
        width: 60px;
        height: 60px;
        border-radius: 1000px;
    }

    .login-form {
        background: #fbfbfb;
        border-radius: 0px 12px 12px 0px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .login_form_in {
        padding: 4em 1em;
    }

    .login-form h1 {
        font-size: 1.2em;
        max-width: 600px;
        margin: 0 auto;
        color: #969696;
        line-height: 1.5em;
        padding: 1.2em 0px .8em;
    }

    .lni {
        display: inline-block;
        font: normal normal normal 1em/1 'LineIcons';
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .google_signup {
        margin-top: .8em;
    }

        .google_signup a {
            background: #DB4437;
            color: #FFF;
            display: block;
            text-align: center;
            padding: 12px 4px;
            border-radius: 5px;
        }

    .btn-primary {
        color: #fff;
        background-color: #5d00ff;
        border-color: #5d00ff;
    }

        .btn-primary:hover {
            color: #fff;
            background-color: #2900b7;
            border-color: #2900b7;
        }

    .google_signup a {
        background: #DB4437;
        color: #FFF;
        display: block;
        text-align: center;
        padding: 12px 4px;
        border-radius: 5px;
    }

        .google_signup a:hover {
            background: #d81505;
            color: #FFF;
        }

    .other_auth_links a:nth-child(2) {
        float: right;
    }

    a {
        text-decoration: none;
        color: #afafaf;
    }

        a:hover {
            text-decoration: none;
            color: #616161;
        }

    .alert-success {
        background-color: rgb(190 255 231 / 33%);
        color: #07dd97;
        font-size: .9em;
    }
</style>


<div class="container login-container">
    <div class="row">
        <div class="col-md-6 welcome_auth">
        </div>
        <div class="col-md-6 login-form">
            <div class="login_form_in">
                <div class="auth_branding">
                    <a class="auth_branding_in" href="https://procraft.studio"><img src="https://res.cloudinary.com/procraftstudio/image/upload/v1613964589/Procraft-Studio-Logo-1_tnfxuj.jpg" alt='Procraft Studio'></a>
                </div>
                <h1 class="auth_title text-left">Set a new password</h1>
                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
                {
                    <form>
                        <div class="form-group">
                            @Html.TextBox("newpass", null, new { @class = "form-control", @type = "password", @placeholder = "New password" })
                        </div>
                        <div class="form-group">
                            @Html.TextBox("confirm", null, new { @class = "form-control", @type = "password", @placeholder = "Confirm" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
                        </div>
                        <div class="form-group other_auth_links">
                            <a asp-controller="Home" asp-action="Login"> Login</a>
                            <a asp-controller="Home" asp-action="Register">Register</a>
                        </div>
                    </form>
                }
                @if (ViewBag.EmailSendMessage != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.EmailSendMessage
                    </div>
                }


            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>